<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611801854065-aovl880te19i8ourjp6n6uirp5qb5q70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611801854065-aovl880te19i8ourjp6n6uirp5qb5q70</string>
	<key>API_KEY</key>
	<string>AIzaSyB7EsFrqXRzxLHRUj8Itnw83bwa1BorKSg</string>
	<key>GCM_SENDER_ID</key>
	<string>611801854065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterreditclone</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-ea1e6</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-ea1e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611801854065:ios:cc8bd851f148e267ddebd0</string>
</dict>
</plist>